html {
    background-image: url(img/backgrounds.png);
}


.div1{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    position: relative;
    align-items: baseline;
}

.div2{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    background-color: white;
    align-items: baseline;
}

.div3{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    background-color: white;
    align-items: baseline;
}

.div4{
    border: 1px solid rgba(0, 0, 0, 0);
    align-items: baseline;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    background-color: white;
}

.div5{
    border: 1px solid rgba(0, 0, 0, 0);
    align-items: baseline;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    background-color: white;
}

.div6{
    border: 1px solid rgba(0, 0, 0, 0);
    align-items: baseline;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    background-color: white;
}

.div7{
    border: 1px solid rgba(0, 0, 0, 0);
    align-items: baseline;
    width: 50%;
    display: flex;
    margin: auto;
    align-items: baseline;
    margin-top: 15%;
    background-color: white;
}

.div8{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    align-items: baseline;
    display: flex;
    margin: auto;
    margin-top: 15%;
    background-color: white;
}

.div9{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    display: flex;
    align-items: baseline;
    margin: auto;
    margin-top: 15%;
    background-color: white;
}

.div10{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    display: flex;
    align-items: baseline;
    margin: auto;
    margin-top: 15%;
    background-color: white;
}

.left {
    width: 14rem;
    align-items: baseline;
    height: 14rem;
    display: flex;
    position: relative;
    background-color: white;
}

.right {
    width: 14rem;
    height: 14rem;
    display: flex;
    background-color: white;
    align-items: baseline;
}