.div1{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 15%;
    position: relative;
}

.div2{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 15%;
}

.div10{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 15%;
}

.left {
    width: 14rem;
    height: 14rem;
    display: flex;
    position: relative;
}

.right {
    width: 14rem;
    height: 14rem;
    display: flex;
}