html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
}

body {
    margin: 0;
    margin-inline: auto;
    max-width: 100%;
    font-family: "Exo 2";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    min-height: 4.5rem;
    z-index: 1;
    position: sticky;
    top: 0;
}

footer {
    background-color: #0e227e;
    min-height: 16rem;
    color: #ffffff;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

header > nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

header > .logo {
    padding-inline: 1rem;
    margin-top: 3px;
}

header > .logo > img {
    width: 4rem;
    height: 4rem;
}

nav a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}

nav a:hover {
    color: none;
    text-transform: capitalize;
}

header > .actions {
    background-color: orangered;
    height: 3rem;
    width: 6rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding-inline: 1rem;
}

header .actions > button {
    border: none;
    appearance: none;
    background-color: #f35333;
    padding-inline: 2rem;
    padding-block: 1rem;
    text-transform: uppercase;
    font-weight: 100;
    padding-inline: 1rem;
}

#home {
    display: flex;
    background-color: initial;
    padding: 1rem 1rem 1rem 4rem;
}

section {
    min-height: 56.8rem;
    background-color: initial;
}

[alt="hello"] {
    height: 30rem;
}

.home {
    flex-grow: 1;
    position: relative;
}

.home > h1 {
    font-size: 4rem;
    font-weight: normal;
    font-family: "Merriweather";
}

.home > ul {
    position: absolute;
    left: -4.5rem;
    list-style: none;
    top: 1rem;
}

.home > ul img {
    width: 1rem;
    margin-block: 0.5rem;
}

.home > div + button {
    background-color: orangered;
    color: white;
    appearance: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.center-text {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 0px;
}
.slider {
    display: flex;
    gap: 1rem;
    margin-top: 8rem;
}

.slider > div {
    flex-grow: 1;
    border-radius: 1rem;
    overflow: hidden;
}

.slider > div >img {
    width: 100%;
    vertical-align: bottom;
}

#contact {
    background-color: initial;
}

.center-text {
    text-align: center;
}

.line {
    width: 8rem;
    height: 2px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}

[type="url"]:invalid {
    border: 1px solid red;
}

#About > h1 {
    text-align: center;
}

#About > p {
    text-align: center;
}

.arrow {
    width: 4rem;
    height: 4rem;

}

.card {
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.5rem #cfcfcf;
    padding: 2rem;
    margin: auto;
    gap: 2rem;
}

#About > div {
    display: flex;
    gap: 2rem;
    padding-inline: 4rem;
}

.p {
    width: 90rem;
    margin: auto;
    font-size: 35px;
    font-family: Roboto Slab;
    font-weight: 100;
    background-color: #000;
    color: #ffffff;
    width: 40rem;
    height: 15rem;
    margin-bottom: 10rem;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.5rem #cfcfcf;
}

.hello{
    padding: 3rem;
    font-size: 40px;
    width: 50%;
    margin: auto;
    font-family: Roboto Slab;
    font-weight: 100;
    margin-top: 9rem;
    border-radius: 1rem;
    color: #ffffff;
    background-color: #000;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.5rem #cfcfcf;
}

#Portfolio {
background-image: url(backgrounds.png);
flex-grow: 1;
min-height: 65rem;
background-repeat: no-repeat;
background-size: cover;
}

#About {
background-image: url(backgrounds.png);
flex-grow: 1;
min-height: 65rem;
background-repeat: no-repeat;
background-size: cover;
}